<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instellingen</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Settings</h1>
            <div class="row">


                <form th:action="@{/settings/generate}" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit">Genereer random Campings</button>
                        </div>
                        <input type="number" id="amount" name="amount" class="form-control" min="1" required>
                    </div>
                </form>

                <div class="input-group mb-3">
                    <form th:action="@{/api/campings/delete/all}" method="POST">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="btn btn-primary">Delete alle campings.</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
