<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Camping</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h1 th:text="*{camping.name}"></h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="*{camping.name}"></li>
                </ol>
            </nav>
            <form action="#"
                  method="post"
                  th:action="@{/campings/update/{id}(id=${camping.id})}"
                  th:object="${camping}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" id="name" readonly th:field="*{name}" type="text">
                    <label for="stars">Sterren:</label>
                    <input class="form-control" id="stars" readonly th:field="*{stars}" type="text">
                    <label for="price">Prijs:</label>
                    <input class="form-control" id="price" readonly th:field="*{price}" type="text">
                    <label for="description">Omschrijving:</label>
                    <textarea class="form-control" id="description" readonly rows="5"
                              th:field="*{description}"></textarea>
                </div>
            </form>
            <!-- Button trigger modal -->
            <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
                Reserveer nu
            </button>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                 role="dialog"
                 tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Plaats reserving</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate>
                                <div class="form-group">
                                    <div>
                                        <label for="validationCustom01">Naam</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                               placeholder="Naam" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="validationCustom01">E-mail</label>
                                        <input type="text" class="form-control" id="validationCustom02"
                                               placeholder="E-mail" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please choose a username1.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Aantal Personen</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                </br>
                                <div class="alert spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <button id="myBtn" class="btn btn-primary">Submit form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/scripts/scripts.js}"></script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>

</body>
</html>
